<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="http://asingh.greenriverdev.com/truck/styles/styles.css">

    <title>Home</title>
    <style>
        body
        {
            background: url("images/bg.jpg");
            height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            color: white;

        }
        div.row:hover
        {
            background-color: orange;
        }
        #navbarbg
        {
            background-color: rgba(254,254,250,0.8);
            border-bottom: 1px solid #200000;
        }
    </style>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-toggleable-sm navbar-inverse bg-faded py-0" id="navbarbg">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a id="color" class="navbar-brand" style="border-right: 1px solid#200000; padding-right: 12px;" href="/truck">Trucking Help</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="color" href="/truck">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="color" href="admin">Admin LogIn </a>
            </li>
        </ul>
        <!--for search-->
        <form class="form-inline my-2 my-sm-0" action="#" method="post">
            <button id="logout" class="btn btn-outline-danger my-2 my-sm-0 py-1" name="logout" type="submit">LogOut</button>
        </form>
    </div><!--collapse navbar-collapse-->
</nav><!--Navbar toggleable-->

<div class="container mt-4 mb-4" style="background-color: rgba(0,0,0,0.28)">
    <div class="container bg-faded mt-5" style="background-color: rgba(0,0,0,0.35)">
        <h1 class="display-3 text-center" style="color: white;">All Posts</h1>
    </div>

    <repeat group="{{ @posts }}" value="{{ @post }}">
        <div id="c{{@post['id']}}" class="container rounded  col-md-8 offset-2 mt-5" style="background-color: rgba(0,0,0,0.6)">
            <div id="" class="row">
                <div class="col-md-3" style="border-right: 1px solid white">
                    <img class="mt-2" src="images/man.png" height="150vh" width="150vh">
                    <p class="text-center mt-2 mb-1">{{@post['fname']}}</p>
                    <p id="detail">
                    </p>
                </div>
                <div class="col-md-9 offset-0">
                    <p></p>
                    <span class="font-weight-bold">{{@post['fname']}} {{@post['lname']}}</span>
                    <!--<span class="font-weight-bold">{{@emails}}</span>-->
                    <p class="font-italic">{{@post['email']}}</p>


                    <section>
                        <span class="font-weight-bold">Information :</span>
                        <ul>
                            <li>Scale Info : {{@post['scaleinfo']}}</li>
                            <li>State Info : {{@post['info']}}</li>
                        </ul>
                    </section>
                    <span class="" style="float: right;">{{@post['timeg']}}</span><br>
                    <span style="float: right;">{{@post['dateg']}}</span>
                    <button id="{{@post['id']}}" style="" type="button" class="btn btn-sm mb-2 update">Update</button>
                    <button id="{{@post['id']}}" style="" type="button" class="btn btn-sm mb-2 ml-3 delete">Delete</button>
                </div>
            </div>
            <!--<h1 class="text-muted">{{@post['info']}}</h1>-->
        </div>
        <div class="container bg-faded col-md-8 mt-2 thisdiv" id="div{{@post['id']}}" style="background-color: rgba(0,0,0,0.6)">
            <h4>Update Info</h4>
                <textarea class="form-control text-white" rows="7" name="info" id="b{{@post['id']}}" style="background-color: rgba(255,255,255,0.1);">{{@post['info']}}</textarea>
                <button id="b{{@post['id']}}" type="submit" class="col-md-3 offset-9 btn btn-sm mb-2 mt-2 submit" style="">Submit</button>
                <button id="cancel" type="submit" class="col-md-3 offset-9 btn btn-sm mb-2 mt-2 cancel" style="">Cancel</button>
        </div>
    </repeat>
    <br>
</div>
<div class="col-md-2 offset-5">
    <button class="btn btn-lg col-md-12 goback">Go Back</button>
</div>
<br>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="./scripts/admin.js"></script>
</html>