<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="http://asingh.greenriverdev.com/truck/styles/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <title>Home</title>
    <style>
        #left
        {
            min-height: 100vh;
        }
        #right
        {
            min-height: 100vh;
        }
        #navbarbg
        {
            border-bottom: 1px solid #200000;
        }
    </style>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-toggleable-sm navbar-inverse bg-faded py-0" id="navbarbg">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a id="color" class="navbar-brand" style="border-right: 1px solid#200000; padding-right: 12px;" href="#">Trucking Help</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="color" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="color" href="#">Option1 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="color" href="#">Option2</a>
            </li>
        </ul>
        <!--for search-->
        <form class="form-inline my-2 my-sm-0">
            <button id="logout" class="btn btn-outline-danger my-2 my-sm-0 py-1" type="submit">LogOut</button>
        </form>
    </div><!--collapse navbar-collapse-->
</nav><!--Navbar toggleable-->
<div class="row">
    <div id="left" class="col-md-6">
        <h1 class="display-3 ml-2 mt-2">
            Welcome to Easy Trucking.
        </h1>
        <div class="col-md-8 offset-4" style="margin-top: 10em;">
            <img id="truck" src="images/truck.png" height="">
        </div>
        <div>

        </div>

        <div class="col-md-4 offset-8" style="margin-top: 3em;">
            <button id="complete" class="btn btn-secondary mt-5" type="submit" name="start">Complete your profile</button>
        </div>
    </div> <!--left-->
    <div class="col-md-6 bg-faded" id="right">
        <div id="showright" class="text-muted mt-3 ml-2">
            <h1>
                Personal Information
                <img src="images/truckikon.png" class="img-rounded" width="">
            </h1>
            <form id="formid" action="#" method="post" onsubmit="return validateForm()">
                <div class="row mt-5">
                    <div class="col-md-5 offset-0">
                        <div class="h6 mt-4 text-muted">
                            <label>First Name:</label>
                        </div>
                        <input class="form-control" type="text" placeholder="First Name" name="fname" value="{{@fname}}" required>
                    </div>
                    <div class="col-md-5 offset-0">
                        <div class="h6 mt-4 text-muted">
                            <label>Last Name:</label>
                        </div>
                        <input class="form-control" type="text" placeholder="username" name="lname" value="{{@lname}}" required>
                    </div>
                </div><!--row for form login-->
                <div class="h6 mt-3 text-muted">
                        <span>Email :</span>
                </div>
                <div class="row col-md-5">
                    <input class="form-control" type="email" placeholder="Email" name="email" value="{{@email}}" required>
                </div>
                <div class="h6 mt-3 text-muted">
                    <span>Phone:</span>
                    <small>(10 digits, without any symbols)</small>
                </div>
                <div class="row col-md-5">
                    <input class="form-control" type="text" placeholder="Phone Number" name="phone">
                </div>
                <div class="h6 mt-3 text-muted">
                    <span>State:</span>
                </div>
                <div class="row col-md-5">
                    <select class="form-control" name="state" id="state" name="state">
                        <option value="">---SELECT---</option>

                        <repeat group="{{ @states }}" value="{{ @stateOption }}">
                            <option
                            <check if="{{ @stateOption == @stateselect }}">
                                selected</check>>
                            {{ @stateOption }}
                            </option>
                        </repeat>
                    </select>
                </div>
                <div class="col-3 mt-5 offset-4">
                    <button id="submit" type="submit" name="submit" class="btn btn-primary btn-md mt-5">Submit</button>
                </div>

            </form>
        </div>
    </div><!--right-->
</div><!--row for left right-->
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    $('#showright').hide();
</script>
<script>
    $(document).ready(function(){
        $("#complete").click(function(){
            $("#truck").animate({height : '300px',width : '300px',opacity : '0.4'});
            $("#truck").animate({height : '256px',width : '256px'});
            $("#showright").animate({height : 'toggle'}, "slow");
            $("#complete").hide();
        });
    });
</script>
<script>
    function validateForm() {
         var fname = document.forms["formid"]["fname"].value;
        var email = document.forms["formid"]["email"].value;
        var lname = document.forms["formid"]["lname"].value;
        var state = document.forms["formid"]["state"].value;
        var phone = document.forms["formid"]["phone"].value;


        if (fname == "")
        {
            alert("First Name cannot be empty");
            return false;
        }
        if (lname == "")
        {
            alert("Last name cannot be empty");
            return false;
        }
        if (state == "")
        {
            alert("Please Select a State");
            return false;
        }
        if (phone.length != 10)
        {
            alert("Please enter a valid phone number");
            return false;
        }
        if (fname == "")
        {
            alert("Email cannot be empty");
            return false;
        }
    }
</script>

</html>