<!--* Ajwinder Singh & Parminder Singh-->
<!--* first.html-->
<!--* 3/18/2018-->
<!--* <<TRUCK POST>>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="http://asingh.greenriverdev.com/truck/styles/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <title>Registration</title>
    <style>
    </style>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-toggleable-sm navbar-inverse bg-faded py-0" id="navbarbg">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a id="color" class="navbar-brand" style="border-right: 1px solid#200000; padding-right: 12px;" href="/truck">Trucking Help</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="color" href="main">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <!--for search-->
        <form class="form-inline my-2 my-sm-0" action="#" method="post">
            <button id="logout" class="btn btn-outline-danger my-2 my-sm-0 py-1" name="logout" type="submit">LogOut</button>
        </form>
    </div><!--collapse navbar-collapse-->
</nav><!--Navbar toggleable-->
<div class="row">
    <div id="left" class="col-md-6">
        <h1 class="display-3 ml-2 mt-2">
            Welcome to Easy Trucking.
        </h1>
        <div class="col-md-8 offset-4" style="margin-top: 10em;">
            <img id="truck" src="images/truck.png" height="">
        </div>
        <div>

        </div>

        <div class="col-md-4 offset-8" style="margin-top: 3em;">
            <button id="complete" class="btn btn-secondary mt-5" type="submit" name="start">Complete your profile</button>
        </div>
    </div> <!--left-->
    <div class="col-md-6 bg-faded" id="right">
        <div id="showright" class="mt-3 ml-2">
            <h1>
                Personal Information
                <img src="images/truckikon.png" class="img-rounded" width="">
            </h1>
            <form id="formid" action="#" method="post" onsubmit="return validateForm()">
                <div class="row mt-5">
                    <div class="col-md-5 offset-0">
                        <div class="h6 mt-4">
                            <label>First Name:</label>
                        </div>
                        <input class="form-control" type="text" placeholder="First Name" name="fname" value="{{@fname}}" required>
                    </div>
                    <div class="col-md-5 offset-0">
                        <div class="h6 mt-4">
                            <label>Last Name:</label>
                        </div>
                        <input class="form-control" type="text" placeholder="Last Name" name="lname" value="{{@lname}}" required>
                    </div>
                </div><!--row for form login-->
                <div class="h6 mt-3">
                        <span>Email :</span>
                </div>
                <div class="row col-md-5">
                    <input class="form-control" type="email" placeholder="Email" name="email" value="{{@email}}" required>
                </div>
                <div class="h6 mt-3">
                    <span>Phone:</span>
                    <small>(10 digits, without any symbols)</small>
                </div>
                <div class="row col-md-5">
                    <input class="form-control" type="text" placeholder="Phone Number" name="phone">
                </div>
                <div class="h6 mt-3">
                    <span>State:</span>
                </div>
                <div class="row col-md-5">
                    <select class="form-control" name="state" id="state" name="state">
                        <option value="">---SELECT---</option>

                        <repeat group="{{ @states }}" value="{{ @stateOption }}">
                            <option
                            <check if="{{ @stateOption == @stateselect }}">
                                selected</check>>
                            {{ @stateOption }}
                            </option>
                        </repeat>
                    </select>
                </div>
                <div class="col-3 mt-5 offset-4">
                    <button id="submit" type="submit" name="submit" class="btn btn-primary btn-md mt-5">Submit</button>
                </div>
            </form>
        </div>
    </div><!--right-->
</div><!--row for left right-->
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./scripts/first.js"></script>
</html>