<!--* Ajwinder Singh & Parminder Singh-->
<!--* home.html-->
<!--* 3/18/2018-->
<!--* <<TRUCK POST>>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="http://asingh.greenriverdev.com/truck/styles/styles.css">

    <title>Home</title>

</head>
<body>
<!--navbar-->
<nav class="navbar navbar-toggleable-sm navbar-inverse bg-faded py-0" id="navbarbg">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a id="color" class="navbar-brand" style="border-right: 1px solid#200000; padding-right: 12px;" href="/truck">Trucking Help</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="color" href="/truck">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="color" href="admin">Admin LogIn </a>
            </li>
        </ul>
        <!--for search-->
    </div><!--collapse navbar-collapse-->
</nav><!--Navbar toggleable-->
    <div class="row">
        <div id="left" class="col-md-6">
            <h1 class="display-3 text-center mt-5">
                Trucking made easier
            </h1>
            <div class="container pt-5 pb-5" style="margin-top: 10vh; background-color: rgba(23,144,33,0.14)">
                <ul>
                    <li>This is the Truckpost help. Here user needs to login to his account in order to use the app.</li>
                    <li class="mt-4">Join Today if you dont have one.</li>
                    <li class="mt-4">The user here, gets to view and make posts about the states they visit to.</li>
                    <li class="mt-4">The easy to view latest info about any state posted by experienced truck drivers, who have been there, helps a lot.</li>
                    <li class="mt-4">Just select a state.</li>
                    <li class="mt-4">Or help someone ahead of time, make a post and let them be aware ahead of time.</li>
                    <li class="mt-4">Lets help, each other!</li>
                </ul>
                <p class="display-4 text-center mt-5">Thank-you!</p>
            </div>
        </div> <!--left-->
        <div class="col-md-6 bg-faded" id="right">
            <form action="#" method="post">
                <div class="row mt-5">
                    <div class="col-md-3 offset-3">
                        <input class="form-control" type="text" placeholder="username" name="username" value="{{@username}}">
                        <small id="hide" class="form-text"> Enter your email</small>
                        <check if="{{isset(@errors['notfound'])}}">
                            <small class="form-text text-danger">{{@errors['notfound']}}</small>
                        </check>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="password" placeholder="password" name="pw" value="{{@pw}}">
                        <small class="form-text"> </small>
                        <check if="{{isset(@errors['pw'])}}">
                            <small class="form-text text-danger">{{@errors['pw']}}</small>
                        </check>
                    </div>
                    <div class="col-md-3">
                        <button id="click" class="btn btn-primary" type="submit" name="submit">Log In</button>
                    </div>
                </div><!--row for form login-->
            </form>
            <form action="#" method="post">
                <div class="row mt-5">
                    <div class="col-md-6 offset-3 mt-5" >
                        <img src="images/truckikon.png" class="img-rounded" width="">
                        <div class="h4 mt-1">
                            Trucking made easier, get help any time, any where.
                        </div>
                        <div class="h6 mt-1">
                            Join Easy-trucking today.
                        </div>
                        <input class="form-control mt-4 col-md-10" type="text" placeholder="Email" name="email" value="{{@email}}">
                        <check if="{{isset(@errors['email'])}}">
                            <small class="mt-1 col-md-10 text-danger">{{@errors['email']}}</small>
                        </check>
                        <input class="form-control mt-3 col-md-10" type="password" placeholder="Password" name="password" value="{{@password}}">
                        <check if="{{isset(@errors['password'])}}">
                            <small class="mt-1 col-md-10 text-danger">{{@errors['password']}}</small>
                        </check>
                        <input class="form-control mt-3 col-md-10" type="password" placeholder="Confirm Password"  name="cpassword" value="{{@cpassword}}">
                        <check if="{{isset(@errors['cpassword'])}}">
                            <small class="mt-1 col-md-10 text-danger">{{@errors['cpassword']}}</small>
                        </check>
                    </div>

                    <div class="row pl-3 col-md-6 offset-3 mt">
                        <button class="btn btn-primary mt-5" type="submit" name="start">Get Started &rarr; </button>
                    </div>
                </div><!--row for form login-->
            </form>
        </div><!--right-->
    </div><!--row for left right-->
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./scripts/home.js"></script>

</html>