<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="http://asingh.greenriverdev.com/truck/styles/styles.css">

    <title>Home</title>
    <style>
        #left
        {
            background-color: rgba(2,0,0,0.8);
            color: white;
            min-height: 100vh;
        }
        #right
        {
            color: black;
            background-color: rgba(216,216,216,0.8);
            min-height: 100vh;
        }
        #navbarbg
        {
            background-color: rgba(254,254,250,0.8);
            border-bottom: 1px solid #200000;
        }
        body
        {
            background: url("images/bg.jpg");
            height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            color: white;

        }
    </style>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-toggleable-sm navbar-inverse bg-faded py-0" id="navbarbg">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a id="color" class="navbar-brand" style="border-right: 1px solid#200000; padding-right: 12px;" href="#">Trucking Help</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="color" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="color" href="#">Option1 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="color" href="#">Option2</a>
            </li>
        </ul>
        <!--for search-->
    </div><!--collapse navbar-collapse-->
</nav><!--Navbar toggleable-->
    <div class="row">
        <div id="left" class="col-md-6">
            <h1>
                Trucking made easier
            </h1>
        </div> <!--left-->
        <div class="col-md-6 bg-faded" id="right">
            <form action="#" method="post">
                <div class="row mt-5">
                    <div class="col-md-3 offset-3">
                        <input class="form-control" type="text" placeholder="username" name="username" value="{{@username}}">
                        <small id="hide" class="form-text"> You can also enter your email</small>
                        <check if="{{isset(@errors['notfound'])}}">
                            <small class="form-text text-danger">{{@errors['notfound']}}</small>
                        </check>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="password" placeholder="password" name="pw" value="{{@pw}}">
                        <small class="form-text"> Forgot Password?</small>
                        <check if="{{isset(@errors['pw'])}}">
                            <small class="form-text text-danger">{{@errors['pw']}}</small>
                        </check>
                    </div>
                    <div class="col-md-3">
                        <button id="click" class="btn btn-primary" type="submit" name="submit">Log In</button>
                    </div>
                </div><!--row for form login-->
            </form>
            <form action="#" method="post">
                <div class="row mt-5">
                    <div class="col-md-6 offset-3 mt-5" >
                        <img src="images/truckikon.png" class="img-rounded" width="">
                        <div class="h4 mt-1">
                            Trucking made easier, get help any time, any where.
                        </div>
                        <div class="h6 mt-1">
                            Join Easy-trucking today.
                        </div>
                        <input class="form-control mt-4 col-md-10" type="text" placeholder="Email" name="email" value="{{@email}}">
                        <check if="{{isset(@errors['email'])}}">
                            <small class="mt-1 col-md-10 text-danger">{{@errors['email']}}</small>
                        </check>
                        <input class="form-control mt-3 col-md-10" type="password" placeholder="Password" name="password" value="{{@password}}">
                        <check if="{{isset(@errors['password'])}}">
                            <small class="mt-1 col-md-10 text-danger">{{@errors['password']}}</small>
                        </check>
                        <input class="form-control mt-3 col-md-10" type="password" placeholder="Confirm Password"  name="cpassword" value="{{@cpassword}}">
                        <check if="{{isset(@errors['cpassword'])}}">
                            <small class="mt-1 col-md-10 text-danger">{{@errors['cpassword']}}</small>
                        </check>
                    </div>

                    <div class="row pl-3 col-md-6 offset-3 mt">
                        <button class="btn btn-primary mt-5" type="submit" name="start">Get Started &rarr; </button>
                    </div>
                </div><!--row for form login-->
            </form>
        </div><!--right-->
    </div><!--row for left right-->

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
$(document).ready(function () {
    $("#logout").click(function () {
        alert("Are you sure you want to log out?");
});
});
</script>
</html>