<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="http://asingh.greenriverdev.com/truck/styles/styles.css">

    <title>Hello {{@fname}}</title>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-toggleable-sm navbar-inverse bg-faded py-0" id="navbarbg">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a id="color" class="navbar-brand" style="border-right: 1px solid#200000; padding-right: 12px;" href="/truck">Trucking Help</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="color" href="main">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <!--for search-->
        <form class="form-inline my-2 my-sm-0" action="#" method="post">
            <button id="logout" class="btn btn-outline-danger my-2 my-sm-0 py-1" name="logout" type="submit">LogOut</button>
        </form>
    </div><!--collapse navbar-collapse-->
</nav><!--Navbar toggleable-->
<div class="row">
    <div id="left" class="col-md-6">
        <div class="text-center" style="margin-top: 42vh">
            <h1 class="align-middle display-3">Make a Post</h1>
        </div>
    </div> <!--left-->
    <div class="col-md-6 bg-faded" id="right">
        <div class="text-center" style="margin-top: 42vh; text: white;">
            <h1 class="align-middle display-3">View Posts</h1>
        </div>
    </div><!--right-->
</div><!--row for left right-->


<div id="container" class="container rounded bg-faded text-muted mt-5" style="">
    <br>
    <p class="display-4 text-center mt-2">Make a Post</p>
    <form id="formid" action="#" method="post" onsubmit="return validateForm()">
        <div>
        <div class="row mt-5">
            <div class="col-md-6 offset-0">
                <div class="h6 mt-4 text-muted">
                    <label class="font-weight-bold">First Name</label>
                </div>
                <input class="form-control" type="text" placeholder="First Name" name="fname" id="pet-name" value="{{@fname}}" required>
                <small style="color: red;" id="fnamee"></small>
            </div>
            <div class="col-md-6 offset-0">
                <div class="h6 mt-4 text-muted">
                    <label class="font-weight-bold">Last Name:</label>
                </div>
                <input class="form-control" type="text" placeholder="Last Name" name="lname" value="{{@lname}}" required>
                <small style="color: red;" id="lnamee"></small>
            </div>
        </div><!--row for form login-->
    </div>
        <div>
            <div class="row">
                <div class="col-md-6 offset-0 ">
                    <div class="h6 mt-4 text-muted">
                        <label class="font-weight-bold">Select State</label>
                    </div>
                    <select class="form-control" name="state" id="state" name="state">
                        <option value="">---SELECT---</option>

                        <repeat group="{{ @states }}" value="{{ @stateOption }}">
                            <option
                            <check if="{{ @stateOption == @stateselect }}">
                                selected</check>>
                            {{ @stateOption }}
                            </option>
                        </repeat>
                    </select>
                    <small style="color: red;" id="statee"></small>
                </div>
                <div class="col-md-6 offset-0">
                    <div class="h6 mt-4 text-muted">
                        <label class="font-weight-bold">Scale Information:</label>
                    </div>
                    <input type="radio" name="scaleinfo" value="open"> Open
                    <input class="ml-4" type="radio" name="scaleinfo" value="notopen"> Not Open
                    <br>
                    <small id="scaleinfoe" style="color: red;"></small>

                </div>
            </div><!--row for form login-->
        </div>
        <div class="row col-md-6">
            <label class="font-weight-bold mt-2">Information<small> (Must be atleast 20 characters)</small></label>

            <textarea class="form-control" rows="7" name="info" required></textarea>
            <small style="color: red;" id="infoe"></small>
            <br>
        </div>
        <div class="offset-10">
            <button id="submit" type="submit" name="submit" class="btn btn-primary btn-md mt-4 mb-5">SUBMIT</button>
        </div>
    </form>
</div>

<div id="viewpost">
    <form action="#" method="post">
        <div id="info" class="col-md-4 offset-4">
            <h1 class="display-3 text-left" style="margin-top: 30vh;">Hello {{@fname}}</h1>
            <p class="font-weight-bold">Please select a state.</p>
            <div class="row col-md-12">
                <select class="form-control" name="statein" id="state" name="state">
                    <option value="">---SELECT---</option>
                    <repeat group="{{ @states }}" value="{{ @stateOption }}">
                        <option
                        <check if="{{ @stateOption == @stateselect }}">
                            selected</check>>
                        {{ @stateOption }}
                        </option>
                    </repeat>
                </select>
                <button name="go" id="go" class="btn btn-secondary btn-md offset-10 mt-3">-Go-</button>
            </div>
        </div>
    </form>
</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./scripts/main.js"></script>

</html>