<!--* Ajwinder Singh & Parminder Singh-->
<!--* viewpost.html-->
<!--* 3/18/2018-->
<!--* <<TRUCK POST>>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="http://asingh.greenriverdev.com/truck/styles/styles.css">
    <title>View Post</title>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-toggleable-sm navbar-inverse bg-faded py-0" id="navbarbg">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a id="color" class="navbar-brand" style="border-right: 1px solid#200000; padding-right: 12px;" href="/truck">Trucking Help</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="color" href="main">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <!--for logout-->
        <form class="form-inline my-2 my-sm-0" action="#" method="post">
            <button id="logout" class="btn btn-outline-danger my-2 my-sm-0 py-1" name="logout" type="submit">LogOut</button>
        </form>
    </div><!--collapse navbar-collapse-->
</nav><!--Navbar toggleable-->

<!--container-->

<div class="container mt-4 mb-4" style="background-color: rgba(0,0,0,0.28)">
    <div class="container bg-faded mt-5" style="background-color: rgba(0,0,0,0.35)">
        <h1 class="display-3 text-center" style="">{{@state}}</h1>
    </div>

    <!--repeat group-->

    <repeat group="{{ @posts }}" value="{{ @post }}">
        <div id="orange" class="container rounded  col-md-8 offset-2 mt-5" style="background-color: rgba(0,0,0,0.6)">
            <div id="" class="row">
                <div class="col-md-3" style="border-right: 1px solid white">
                    <img class="mt-2" src="images/man.png" height="150vh" width="150vh">
                    <p class="text-center mt-2 mb-1">{{@post['fname']}}</p>
                </div>
                <div class="col-md-9 offset-0">
                    <p></p>
                    <span class="font-weight-bold">{{@post['fname']}} {{@post['lname']}}</span>
                    <p class="font-italic">{{@post['email']}}</p>
                    <section>
                        <span class="font-weight-bold">Information :</span>
                        <ul>
                            <li>Scale Info : {{@post['scaleinfo']}}</li>
                            <li>State Info : {{@post['info']}}</li>
                        </ul>
                    </section>
                    <span class="" style="float: right;">{{@post['timeg']}}</span><br>
                    <span style="float: right;">{{@post['dateg']}}</span>
                </div>
            </div>
        </div>
    </repeat>
    <br>
</div> <!--FOR CONTAINER -->

<!--go back button-->
<div class="col-md-2 offset-5">
    <button class="btn btn-lg col-md-12 goback">Go Back</button>
</div>
<br>
</body>

<!--script urls-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./scripts/viewpost.js"></script>

</html>