body
{
    color: white;
}
strong
{
    color: #200000;
}
#color
{
    color: #200000;
}
#right
{
    float: right;
    width: 50%;
}
#left
{
    background-color: #200000;
    float: left;
    width: 50%;
}